$font-size: 15px;
$text-color: #404040;
$link-color: #404040;
$link-color-hover: rgb(70, 185, 128);
$link-color-hover: lightpink;
$body-height: calc(100vh - (60px));
$body-padding: 70px 0 0 20px;
$theme-color: aliceblue;
$theme-color: seashell;
//hsl(203, 92%, 88%); 
// #f4f2f0;
//aliceblue;
$body-color: white;